.layout {
  position: relative;
  overflow: hidden;
  /* header */
}

.layout .header {
  border-color: #e7e7e7;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
          box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-top: 4px solid #2d8cf0;
  margin-bottom: 40px;
  margin-top: 0px;
}

.layout-logo {
  width: 100px;
  height: 30px;
  background: #2d8cf0;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 120px;
}

.layout-nav {
  width: 420px;
  margin: 0 auto;
  margin-left: 320px;
}

.login-register {
  width: 420px;
  margin: 0 auto;
  margin-right: -200px;
}

.img-code {
  max-width: 115px;
  max-height: 32px;
  border-radius: 0 6px 6px 0;
  border: 1px solid #dddee1;
  border-left: 0;
}

