.layout {
  position: relative;
  overflow: hidden;
  /* header */
}

.layout .header {
  border-color: #e7e7e7;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
          box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  margin-bottom: 40px;
  margin-top: 0px;
}

.layout-logo {
  width: 100px;
  height: 30px;
  background: #2d8cf0;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 120px;
}

.layout-nav {
  margin: 0 auto;
  margin-left: 320px;
}

.login-register {
  width: 420px;
  margin: 0 auto;
  margin-right: -200px;
}

.header-avator-con {
  position: absolute;
  right: 35px;
  top: 0;
  height: 100%;
  width: 200px;
}

.header-avator-con .switch-theme-con {
  display: inline-block;
  width: 40px;
  height: 100%;
}

.header-avator-con .message-con {
  display: inline-block;
  width: 30px;
  padding: 18px 0;
  text-align: center;
  cursor: pointer;
}

.header-avator-con .message-con i {
  vertical-align: middle;
}

.header-avator-con .change-skin {
  font-size: 14px;
  font-weight: 500;
  padding-right: 5px;
}

.header-avator-con .switch-theme {
  height: 100%;
}

.header-avator-con .user-dropdown-menu-con {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  height: 100%;
}

.header-avator-con .user-dropdown-menu-con .main-user-name {
  display: inline-block;
  width: 80px;
  word-break: keep-all;
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}

.header-avator-con .user-dropdown-innercon {
  height: 100%;
  padding-right: 14px;
}

.header-avator-con .full-screen-btn-con {
  display: inline-block;
  width: 30px;
  padding: 18px 0;
  text-align: center;
  cursor: pointer;
}

.header-avator-con .full-screen-btn-con i {
  vertical-align: middle;
}

.header-avator-con .lock-screen-btn-con {
  display: inline-block;
  width: 30px;
  padding: 18px 0;
  text-align: center;
  cursor: pointer;
}

.header-avator-con .lock-screen-btn-con i {
  vertical-align: middle;
}

.img-code {
  width: 115px;
  height: 32px;
  border-radius: 0 6px 6px 0;
  border: 1px solid #dddee1;
  border-left: 0;
}

