.layout {
  position: relative;
  overflow: hidden;
  /* header */
}

.layout .header {
  border-color: #e7e7e7;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
          box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-top: 4px solid #2d8cf0;
  margin-bottom: 40px;
  margin-top: 0px;
}

.layout-logo {
  width: 100px;
  height: 30px;
  background: #2d8cf0;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 120px;
}

.layout-nav {
  width: 420px;
  margin: 0 auto;
  margin-left: 320px;
}

.login-register {
  width: 420px;
  margin: 0 auto;
  margin-right: -200px;
}

.own-space-btn-box {
  margin-bottom: 10px;
}

.own-space-btn-box button {
  padding-left: 0;
}

.own-space-btn-box button span {
  color: #2D8CF0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.own-space-btn-box button span:hover {
  color: #0C25F1;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.own-space-tra {
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: -3px;
  -webkit-box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 100;
}

.own-space-input-identifycode-con {
  position: absolute;
  width: 200px;
  height: 100px;
  right: -220px;
  top: 50%;
  margin-top: -50px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.1);
}

